* {
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 0, 70)
}

form {
    width: fit-content;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.3);
}

fieldset, input, button {
    border: none;
    border-radius: 5px;
}

input {
    padding: 1%;
    color: white;
    height: 20px;
    background-color: rgb(70, 70, 100);
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
}

#client, #user, #terms {
    height: 13px;
    color: black;
}

fieldset {
    width: fit-content;
    padding: 10px;
    background: rgb(87,37,101);
    color: orange;
    font-size: 18px;
    font-weight: 600;
}

.personal-info {
    display: inline-block;
    margin: 1% 2%;
    line-height: 1.6;
}

.user-info {
    display: inline-block;
    margin: 1% 2%;
    line-height: 1.6;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 2%;
    line-height: 1.9;
}

.login input {
    height: 15px;
    width: 70%;
}

.finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
}

.container { 
    width: 100%;
    text-align: center;
}

button {
    border: 2px solid rgb(20, 20, 100);
    margin: 2%;
    padding: 8px 25px;
    background-color: orange;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    transition: 0.5s;
}

button:hover, button:active {
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

input:focus {
    transition: 2s;
    outline: 0;
    background-color: rgb(20, 20, 100);
}